/* CSS for styling the questionnaire */
form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="radio"] {
    margin: 0 10px 0 0;
  }

  body {
    background-image: url("Pattern.gif");
  }