form {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="radio"] {
  margin: 0 10px 0 0;
}

body
{
  background-color: #b9e4ea;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 90%;
  max-width: 400px;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

  /* The "Yes" and "No" buttons */
.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question {
  margin-bottom: 1em;
  font-weight: bold;
}

.rating {
  font-size: 1em;
  width: 8em;
  padding: 0.25em;
}

.selected-value {
  font-weight: bold;
  margin-top: 0.5em;
}

.feedback {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 0.5em;
}

html, body {
  margin: 0;
  padding: 0;
}
